Flask
Flask-Cors
Pandas
SQLAlchemy
Scikit-learn
Plotly
Psycopg2-binary
Requests
streamlit
gunicorn
click
Flask
gunicorn
h11
itsdangerous
Jinja2
MarkupSafe
python-dotenv
uvicorn
waitress
Werkzeug
